<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">

<html>
<head>

    <title>Doomometer - Cyber</title>

    <% include ../partials/head.ejs %>

</head>

<body>
<div id="wrap">

    <% include ../partials/header.ejs %>

    <!-- content-wrap starts -->
    <div id="content-wrap">
        <div id="main">
            <h2>Viruses reports</h2>

            <%  if (locals.searchdate!= undefined ) { %>
            <p class='post-info'>Viruses detected on <%=searchdate %></p>
            <% } else { %>
            <p class='post-info'>Viruses detected in the last 24 hrs</p>
            <% } %>

            <table width='400'>
                <tr>
                    <th>Name</th>
                    <th>Time</th>
                    <th></th>
                </tr>

                <% rows.forEach(function(row) { %>

                <tr>
                    <td><a href="<%= row.url %>" target="_blank"><%= row.name %></a></td>
                    <td><%= DDMM_Time(row.time) %></td>
                    <td><a href="<%= row.url %>" target="_blank">View</a></td>
                </tr>

                <% }); %>

            </table>

        </div>
        <div id="sidebar">
            <h3>Weekly Summary</h3>

            <table>
                <tr>
                    <th>Date</th>
                    <th>Published Viruses</th>
                </tr>

                <% summary.forEach(function(s) { %>

                <tr>
                    <td><a href="cyber?date=<%= formatLinkDate(s.date) %>"> <%= DDMMYY(s.date) %> </a></td>
                    <td><%= s.count %> </td>
                    <td><a href="cyber?date=<%= formatLinkDate(s.date) %>">View</a></td>
                </tr>

                <% }); %>


            </table>

        </div>

        <% include ../partials/footer.ejs %>
    </div>

</div>

</body>
</html>
