<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">
<html>
<head>

    <% include ../partials/head.ejs %>

</head>

<body onload="init();">

<script>
    var map;
    var quakesLayer;
    var disastersLayer;

    function init() {
        map = new OpenLayers.Map("basicMap");
        map.addLayer(new OpenLayers.Layer.OSM());

        map.addControl(new OpenLayers.Control.LayerSwitcher());

        var eqStyleMap = new OpenLayers.StyleMap({pointRadius: 5});
        var dStyleMap = new OpenLayers.StyleMap({pointRadius: 5});

        var eqLookup = {
            "small": {pointRadius: 2, fillColor: "yellow", fillOpacity: 0.5, strokeColor: "black"},
            "medium": {pointRadius: 5, fillColor: "orange", fillOpacity: 0.5, strokeColor: "black"},
            "large": {pointRadius: 10, fillColor: "red", fillOpacity: 0.5, strokeColor: "black"},
        };

        var dLookup = {
            "Green": {pointRadius: 2, fillColor: "green", fillOpacity: 0.5, strokeColor: "black"},
            "Red": {pointRadius: 2, fillColor: "red", fillOpacity: 0.5, strokeColor: "black"},
        };

        eqStyleMap.addUniqueValueRules("default", "size", eqLookup);
        dStyleMap.addUniqueValueRules("default", "size", dLookup);

        quakesLayer = new OpenLayers.Layer.Vector('Earthquakes', {styleMap: eqStyleMap});
        disastersLayer = new OpenLayers.Layer.Vector('Disasters', {styleMap: dStyleMap});


        var features = new Array(0);


       <% include ./earthquake_data.txt %>

        quakesLayer.addFeatures(features);


        var disasterFeatures = new Array(0);


        disastersLayer.addFeatures(disasterFeatures);


        map.addLayer(quakesLayer);
        map.addLayer(disastersLayer);


        select = new OpenLayers.Control.SelectFeature([quakesLayer, disastersLayer]);

        quakesLayer.events.on({
            "featureselected": onFeatureSelect,
            "featureunselected": onFeatureUnselect
        });

        disastersLayer.events.on({
            "featureselected": onFeatureSelect,
            "featureunselected": onFeatureUnselect
        });


        map.addControl(select);
        select.activate();


        map.zoomToMaxExtent();
    }

</script>

<div id="wrap">

    <!--
        Include the standard header banner
    -->
    <% include ../partials/header.ejs %>

    <table width="60%" align="center" id="summary-header">
        <tr>
            <th colspan="4">24 Hour Summary</th>
        </tr>
        <tr>
            <td><a href="/earthquakes">Earthquakes</a></td>
            <td class="table-divider"><a href="/earthquakes"><%= earthquakesToday %></a></td>
            <td><a href="/cyber">Cyber-threats</a></td>
            <td><a href="/cyber"><%= virusToday %></a></td>
        </tr>
        <tr>
            <td><a href="/earthquakes">Average earthquake magnitude</a></td>
            <td class="table-divider"><a href="/earthquakes"><%= averageMagnitude %></a></td>
            <td><a href="/spaceweather">Space weather reports</a></td>
            <td><a href="/spaceweather"><%= spaceWeatherToday %></a></td>
        </tr>
        <tr>
            <td><a href="/disasters">Disaster reports</a></td>
            <td class="table-divider"><a href="/disasters"><%= disastersToday %></a></td>
            <td><a href="/alerts">UK Threat Level</a></td>
            <td><a href="/alerts"><%= alertState %></a></td>
        </tr>
    </table>
    <br>
    <div id="basicMap"></div>
    <!-- content-wrap starts -->
    <div id="content-wrap">
        <div id="main">

        </div>
        <div id="sidebar">

        </div>

        <% include ../partials/footer.ejs %>

    </div>

</div>

<script type="text/javascript">
    (function () {
        var li = document.createElement('script');
        li.type = 'text/javascript';
        li.async = true;
        li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(li, s);
    })();
</script>


</body>
</html>



