<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">
<html>
<head>

    <% include ../partials/head.ejs %>

    <style>

        .graticule {
            fill: none;
            stroke: #777;
            stroke-width: .5px;
            stroke-opacity: .5;
        }

        .land {
            fill: #222;
            stroke: #888;
        }

        .boundary {
            fill: none;
            stroke: #fff;
            stroke-width: .5px;
        }

        .geojson {
            fill: #ff0;
            stroke: #ff0;
            stroke-width: .5px;
        }

    </style>
</head>

<body >



<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>



<div id="wrap">

    <!--
        Include the standard header banner
    -->
    <% include ../partials/header.ejs %>

    <table width="60%" align="center" id="summary-header">
        <tr>
            <th colspan="4">24 Hour Summary</th>
        </tr>
        <tr>
            <td><a href="/earthquakes">Earthquakes</a></td>
            <td class="table-divider"><a href="/earthquakes"><%= earthquakesToday %></a></td>
            <td><a href="/cyber">Cyber-threats</a></td>
            <td><a href="/cyber"><%= virusToday %></a></td>
        </tr>
        <tr>
            <td><a href="/earthquakes">Average earthquake magnitude</a></td>
            <td class="table-divider"><a href="/earthquakes"><%= averageMagnitude %></a></td>
            <td><a href="/spaceweather">Space weather reports</a></td>
            <td><a href="/spaceweather"><%= spaceWeatherToday %></a></td>
        </tr>
        <tr>
            <td><a href="/disasters">Disaster reports</a></td>
            <td class="table-divider"><a href="/disasters"><%= disastersToday %></a></td>
            <td><a href="/alerts">UK Threat Level</a></td>
            <td><a href="/alerts"><%= alertState %></a></td>
        </tr>
    </table>
    <br>



    <div id="worldmap"></div>

    <!-- content-wrap starts -->
    <div id="content-wrap">
        <div id="main">

        </div>
        <div id="sidebar">

        </div>

        <% include ../partials/footer.ejs %>

    </div>

</div>

<script>

    var width = 960, height = 480;

    var projection = d3.geo.equirectangular()
            .scale(153)
            .translate([width / 2, height / 2])
            .precision(.1);

    var path = d3.geo.path()
            .projection(projection);

    var graticule = d3.geo.graticule();

    var svg = d3.select("[id=worldmap]").append("svg")
            .attr("width", width)
            .attr("height", height);

    svg.append("path")
            .datum(graticule)
            .attr("class", "graticule")
            .attr("d", path);

    d3.json("/world-110m.json", function(error, world) {
        if (error) throw error;

        svg.insert("path", ".graticule")
                .datum(topojson.feature(world, world.objects.land))
                .attr("class", "land")
                .attr("d", path);

        svg.insert("path", ".graticule")
                .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
                .attr("class", "boundary")
                .attr("d", path);
    });

    <% include ../cache/earthquake.json %>

//    var cook = {"type": "LineString", "coordinates": [[-4.1397, 50.3706], [-43.2436, -22.9083] ,
//        [-67.2717, -55.9797] , [-149.4500, -17.6667], [172.1936, -41.4395] ,[151.1667, -34] ,
//        [147.70, -18.3] ,[106.7, -6], [18.4719, -34.3], [-5,-15], [-25.6, 37.7],[-4.1397, 50.3706]] };

    svg.selectAll(".geojson").data([cook])
            .enter()
            .append("path")
            .attr("class","geojson")
            .attr("d", path);

//    d3.json("/earthquake.json", function( error, quakes) {
//        if (error) throw error;
//
//        svg.insert("path", ".graticule").data(quakes).append("path").attr("class","geojson");
//    });

    d3.select(self.frameElement).style("height", height + "px");

</script>


<script type="text/javascript">
    (function () {
        var li = document.createElement('script');
        li.type = 'text/javascript';
        li.async = true;
        li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(li, s);
    })();
</script>


</body>
</html>



